<nav>
  <mat-toolbar>
    <a routerLink="">Rotas</a>

    <span class="example-spacer"></span>

    <ul class="menu">
      <li routerLinkActive="active">
        <a routerLink="/login">
          Login
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/cursos">
          Cursos
        </a>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['curso', courseID.value]">
          Curso com id {{ courseID.value }}
        </a>
      </li>
    </ul>
  </mat-toolbar>
</nav>

<main class="container">
  <p>
    Entre com o id do curso
  </p>

  <input #courseID (change)="''">

  <router-outlet />
</main>

