<h5>Exemplos de Pipes</h5>

<p>Título: {{ book.title | uppercase | titlecase | camelCase }}</p>

<p>Estrelas: {{ book.rating | number : "1.1-1" }}</p>

<p>Páginas: {{ book.numberPages | number }}</p>

<p>Preço: {{ book.price | currency : "BRL" }}</p>

<p>Data de Lançamento: {{ book.publicationDate | date : "dd/MM/yyyy" }}</p>

<p>Url: {{ book.url | lowercase }}</p>

<br>

<p>Livro: {{ book | json }}</p>

<select name="languages" #language (change)="setLanguage(language.value)">
  <option value="" disabled>Escolha uma opção</option>
  <option value="pt-BR">Português</option>
  <option value="en-US">Inglês</option>
</select>

<br>
<br>

<input
  type="text"
  [(ngModel)]="filter"
  placeholder="Pesquise aqui o livro"
>

<br>
<br>

<input
  type="text"
  #newBook
  placeholder="Digite aqui o livro"
>

<button
  (click)="addBook(newBook.value)"
>
  Add Book
</button>

<ul>
  @for (bookItem of books | arrayFilter:filter; track bookItem) {
    <li>
      {{ bookItem }}
    </li>
  }
</ul>
