<h1>{{ title }}</h1>

<router-outlet />

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
  <span>Título 1</span>
  <ng-content class="card-title">Título 2</ng-content>
  <span ngProjectAs="card-subtitle">Subtítulo</span>
  Texto
</app-exemplo-ng-content> -->
<app-diretivas-customizadas></app-diretivas-customizadas>
<!-- <app-diretivas-customizadas highlight="white" defaultColor="green"></app-diretivas-customizadas> -->
