<h1>{{ title }}</h1>

<router-outlet />

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<app-exemplo-ng-content>
  <h3 class="card-title">Título</h3>
  <h4 ngProjectAs="card-subtitle">Subtítulo</h4>
  <p>Texto</p>
</app-exemplo-ng-content>
