<section class="property-binding p-4">
  <article>
    <h3>
      Interpolation / Interpolação
    </h3>

    <p>
      String renderizada com interpolação: {{ url }}
    </p>

    <p>
      Resultado de 1 + 1 é: {{ 1 + 1}}
    </p>

    <p>
      Resultado de 1 + 1 não é: {{ 1 + 1 + getValor()}}
    </p>

    <p>
      Curso de Angular e gosto do curso: {{ courseAngular && getLikeCourse()}}
    </p>
  </article>

  <article>
    <h3>
      Property Binding
    </h3>

    <img src="{{imageURL}}" alt="Imagem de nature">
    <img [src]="imageURL" alt="Imagem de nature">
    <img bind-src="imageURL" alt="Imagem de nature">
  </article>

  <article>
    <h3>
      Class e Style Binding
    </h3>

    <div>
      Selecione uma classe:
      <select #classAlert (change)="0">
        <option value="primary">Primary</option>
        <option value="secondary">Secondary</option>
        <option value="success">Success</option>
        <option value="danger">Danger</option>
        <option value="warning">Warning</option>
        <option value="info">Info</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>

      <br>
      <br>

      <ngb-alert [type]="classAlert.value">
        {{ classAlert.value }}
      </ngb-alert>

      <!-- [style.display]="classAlert.value == 'danger' ? 'block' : 'none -->
      <ngb-alert
        type="danger"
        [style]="{ display: classAlert.value == 'danger' ? 'block' : 'none' }"
      >
        Feedback error
      </ngb-alert>
    </div>
  </article>
</section>

<section class="event-binding p-4">
  <article>
    <h3>
      Event Binding
    </h3>

    <div>
      <button class="btn btn-primary" (click)="clickButton()">
        Me clique!
      </button>

      <br>
      <br>

      <input
        type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="savedValue(fieldInput.value)"
        (keyup.shift.enter)="savedValue(fieldInput.value)"
        on-blur="savedValue(fieldInput.value)"
        #fieldInput
      />

      <p>
        Valor atual: {{ currentValue }}
      </p>

      <p>
        Valor salvo: {{ saveValue }}
      </p>

      <br>
      <br>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >
        Passe o mouse sobre mim
      </span>
    </div>
  </article>
</section>

<section class="two-way-binding p-4">
  <article>
    <h3>
      Two-way data binding
    </h3>

    <div>
      <input
        type="text"
        [value]="name"
        (input)="onChangeName($event)"
      />

      <input
        type="text"
        [ngModel]="name"
        (ngModelChange)="name = $event"
      />

      <input
        type="text"
        [(ngModel)]="name"
      />

      <input
        type="text"
        bindon-ngModel="name"
      />

      <p>
        Você digitou o nome: {{ name}}
      </p>
    </div>

    <div>
      <p>
        Meu nome é {{ person.name }} e tenho {{ person.age }} anos de idade.
      </p>

      <input
        type="text"
        [(ngModel)]="person.name"
      >

      <input
        type="text"
        [(ngModel)]="person.age"
      >
    </div>
  </article>
</section>

<section class="input-output-properties p-4">
  <article>
    <h3>
      Input/Output Properties
    </h3>

    <app-course [name]="nameCourse" />
  </article>
</section>
